server {
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	server_name {{ mobilizon.fqdn | join (" ") }};
    ssl_session_timeout 5m;

        add_header Referrer-Policy "no-referrer" always;
        add_header X-Content-Type-Options "nosniff" always;
        add_header X-Download-Options "noopen" always;
        add_header X-Frame-Options "SAMEORIGIN" always;
        add_header X-Permitted-Cross-Domain-Policies "none" always;
        add_header X-Robots-Tag "none" always;
        add_header X-XSS-Protection "1; mode=block" always;

# Remove X-Powered-By, which is an information leak
        fastcgi_hide_header X-Powered-By;


# SSL parameters
        ssl_certificate /var/lib/dehydrated/certs/{{ mobilizon.fqdn[0] }}/fullchain.pem;
        ssl_certificate_key /var/lib/dehydrated/certs/{{ mobilizon.fqdn[0] }}/privkey.pem;
        ssl_dhparam /var/lib/dehydrated/certs/dhparam.pem;

        # cf https://www.ssllabs.com/ssltest/analyze.html
        # and https://raymii.org/s/tutorials/Strong_SSL_Security_On_nginx.html
        ssl_protocols TLSv1.2 TLSv1.3; # Dropping SSLv3, ref: POODLE, dropping TLSv1 TLSv1.1 (weak)
        ssl_prefer_server_ciphers on;
        ssl_ciphers ECDHE-RSA-AES256-GCM-SHA512:DHE-RSA-AES256-GCM-SHA512:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-CHACHA20-POLY1305-SHA256;
        ssl_session_cache shared:SSL:10m;
        ssl_ecdh_curve secp384r1;


# log files
	access_log {{ http_vhost_localisation }}/mobilizon/log/{{ mobilizon.fqdn[0] }}.access.log;
	error_log {{ http_vhost_localisation }}/mobilizon/log/{{ mobilizon.fqdn[0] }}.error.log;

    gzip on;
    gzip_disable "msie6";
    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 8k;
    gzip_http_version 1.1;
    gzip_types text/plain text/css application/json application/javascript text/xml application/xml application/xml+rss text/javascript application/activity+json application/atom+xml;

    # the nginx default is 1m, not enough for large media uploads
    client_max_body_size 16m;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;


    location / {
        proxy_pass http://localhost:4000;
    }

    
	location = /favicon.ico {
		log_not_found off;
		access_log off;
	}

	location = /robots.txt {
		allow all;
		log_not_found off;
		access_log off;
	}

    location ~ ^/(js|css) {
        root /home/mobilizon/live/priv/static;
        etag off;
        access_log off;
        add_header Cache-Control "public, max-age=31536000, immutable";
    }

    location ~ ^/(media|proxy) {
        etag off;
        access_log off;
        add_header Cache-Control "public, max-age=31536000, immutable";
        proxy_pass http://localhost:4000;
    }

    error_page 500 501 502 503 504 @error;
    location @error {
            root /home/mobilizon/live/priv/errors;
            try_files /error.html 502;
    }


}
